* {

	font-family: Verdana;

}

.home-div {

	width: 30%;
	padding-bottom: 30%;

}

#square {

	float: left;
	position: relative;
	width: 45%;
	padding-bottom: 30%;
	margin: 1.66%;
	overflow: hidden;

}

.content {

	position: absolute;
	height: 100%;
	width: 100%;

}

.table {

	display: table;
	height: 100%;
	width: 100%;

}

.table-content {

	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;

}

.character {

	background-image: url("Images/character.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.setting {

	background-image: url("Images/setting.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.theme {

	background-image: url("Images/theme.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.symbols {

	background-image: url("Images/symbols.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.character:hover {

	background-image: url("Images/character overlay.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.setting:hover {

	background-image: url("Images/setting overlay.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.theme:hover {

	background-image: url("Images/theme overlay.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.symbols:hover {

	background-image: url("Images/symbols overlay.jpg");

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

#title {

	margin: 50% 50% 50% 50%;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;

}

#character:hover #title {

	visibility: visible;
	opacity: 1;

}

#setting:hover #title {

	visibility: visible;
	opacity: 1;

}

#themes:hover #title {

	visibility: visible;
	opacity: 1;

}

#symbols:hover #title {

	visibility: visible;
	opacity: 1;

}

.link {

	text-decoration: none;
	color: white;

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.link:hover {

	color: #BFBFBF;
	text-decoration: none;

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.name {

	padding-left: 1%;

}

.otherLinks {

	text-decoration: none;
	color: black;
	padding-left: 1%;

}

.otherLinks:hover {

	color: #737373;
	text-decoration: none;

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

i {

	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;

}

i:hover {

	color: #737373;
	text-decoration: none;

	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;

}

.left {

	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);

}

.back {

	padding-left: 1%;
	padding-top: 1%;
	padding-bottom: 1%;

}

.content-titles {

	color: black;
	padding-top: 1%;

}